.navbar {
    background-color:#2973B2 ;
}

#home {
    height: 100vh;
}

#prtofolio{
  background-color:#c1d2de;
}


#testimonialCarousel {
background-color: #f8f9fa;
padding: 50px 0; 
}

.carousel-caption {
position: relative;
left: auto;
right: auto;
color: #333;
}

.carousel-caption h3 {
font-size: 1.75rem;
font-weight: bold;
}

.carousel-caption p {
font-size: 1.25rem;
color: #666; 
}

#contact{
background: #33638d;
}


#feedback button {
width: 12px; 
height: 12px; 
border-radius: 50%; 
background-color: #337eff;
border: none; 
opacity: 0.6; 
transition: opacity 0.3s ease-in-out;
}

#feedback button.active {
background-color: #5533ff; 
opacity: 1; 
}

#feedback button:hover {
opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Align precisely */
    width: 5%; /* Adjust button size */
}

.carousel-control-prev {
    left: 10px; /* Adjust left position */
}

.carousel-control-next {
    right: 10px; /* Adjust right position */
}
